* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', 'Roboto', sans-serif;
}


img {
    width: 40%;
    height: auto;
}

.navbar-logo{
    width: 3em;
    height: auto;
}

.section {
    width: 100%;
    padding: 40px 10%; 
}

.feature{
    background-color: #f0f0f0;
}
 
.section-textContent {
    display: flex;
    flex-direction: column;
}

.section-textContent p{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    font-style: italic;
}
 
.hero-titleSpecial{
    color: rgb(45, 108, 235);
    text-shadow: 0px 0px 20px rgb(100, 146, 239);
}

.hero-subtitle{
    font-size: 1.5em;
    color: #333;
    text-decoration: solid underline rgb(45, 108, 235);
    margin-bottom: 20px;
}

.hero-buttonLinks{
    display: flex;
    gap: 20px;
}

.hero-subtext--container{
    margin-bottom: 20px;
}

.hero-button{
    padding: 10px 20px;
    background-color: rgb(45, 108, 235);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-button:hover{
    background-color: rgb(100, 146, 239);
    transform: scale(1.05);
    font-weight: 700;
}

.hero-button-inverse{
    padding: 10px 20px;
    background-color: white;
    color: rgb(45, 108, 235);
    border: 2px solid rgb(45, 108, 235);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-button-inverse:hover{
    background-color: rgb(45, 108, 235);
    color: white;
    transform: scale(1.05);
}

.hero-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.hero-image{
    width: 70%;
    height: auto;
    outline: auto;
}

.navbar{
    background-color: #ffffff; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link--container{
    display: flex;
    gap: 20px;
}

.navbar-link{
    color: #333;
    transition: all 0.3s;
}

.navbar-link:hover{
    color: rgb(45, 108, 235);
    font-weight: 700;
    transform: scale(1.1);
}

h1{
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

h2{
    font-size: 2em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

p{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}
 
.intro {
    background-color: #ffffff; 
    display: flex;
}
 
.cta {
    background-color: #333; 
    color: white; 
}

.navbar{
    background-color: #ffffff; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link{
    color: #333;
    font-weight: 500;
}

.navbar-link--container{
    display: flex;
    gap: 20px;
}
 
.intro {
    background-color: #ffffff; 
}
 

#cta .section-content h2, #cta .section-content p{
    color: white;
}

#cta .section-content h2{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}
#cta .section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-section{
    width: 100%;
}

.inner-section-ctapop{
    background-color: rgb(45, 108, 235);
    padding: 40px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.inner-section-ctapop h2{
    color: white;
    font-size: 2em;
}

.inner-section-ctapop p{
    color: white;
    font-size: 1.2em;
}

#cta .section-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; 
    gap: 10px; 
}

#cta .cta-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    gap: 20px;
    background-color: #e0e0e0;
}

.footer {
    background-color: rgb(45, 108, 235);
    padding: 20px 40px;
}

.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.footer-content p{
    color: white;
    font-size: 0.8em;
}