* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', 'Roboto', sans-serif;
}


.navbar-logo{
    width: 3em;
    height: auto;
}

.section {
    width: 100%;
    padding: 40px 10%; 
}
 
.section-textContent {
    display: flex;
    flex-direction: column;
}

.section-textContent p{
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
    font-style: italic;
}
 
.hero-titleSpecial{
    color: rgb(45, 108, 235);
    text-shadow: 0px 0px 20px rgb(100, 146, 239);
}

.hero-subtitle{
    font-size: 1.5em;
    color: #333;
    text-decoration: solid underline rgb(45, 108, 235);
    margin-bottom: 20px;
}

.hero-buttonLinks{
    display: flex;
    gap: 20px;
}

.hero-subtext--container{
    margin-bottom: 20px;
}

.hero-button{
    padding: 10px 20px;
    background-color: rgb(45, 108, 235);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-button:hover{
    background-color: rgb(100, 146, 239);
    transform: scale(1.05);
}

.hero-button-inverse{
    padding: 10px 20px;
    background-color: white;
    color: rgb(45, 108, 235);
    border: 2px solid rgb(45, 108, 235);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-button-inverse:hover{
    background-color: rgb(45, 108, 235);
    color: white;
    transform: scale(1.05);
}

 .navbar{
    background-color: #ffffff; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .navbar-link--container{
    display: flex;
    gap: 20px;
 }

 .navbar-link{
    color: #333;
    transition: all 0.3s;
 }

 .navbar-link:hover{
    color: rgb(45, 108, 235);
    font-weight: 700;
    transform: scale(1.1);
 }

 h1{
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
 }
 
 .intro {
    background-color: #ffffff; 
 }
 
 .cta {
    background-color: #333; 
    color: white; 
 }

.navbar{
    background-color: #ffffff; 
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .navbar-link{
    color: #333;
    font-weight: 500;
 }

 .navbar-link--container{
    display: flex;
    gap: 20px;
 }

 h1{
    font-size: 3em;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
 }
 
 .intro {
    background-color: #ffffff; 
 }
 
 .cta {
    background-color: #333; 
    color: white; 
 }


 
 .testimonial {
    background-color: #e0e0e0; 
 }
 